.category {
    display: flex; 
    justify-content: center; 
}


.category input[type = text] {
    display: flex; 
    justify-content: center; 
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.category input[type=text]:hover{
    box-shadow: 30px; 
}

.category button {
    display:flex; 
    text-align: center;
    padding: 7px; 
}


/* TABS CSS */
.tab {
    display: flex; 
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
  }
  
  .tab:hover {
    transform: translateY(-7px);
  }
  
  .tab-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
  }
  
  /* .tab {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
  }
   */